<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>DragonFly Events</span>

    <span class="example-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <div *ngIf="events">
    <div id="event-container" *ngFor="let event of events">
      <br>
      <span class="left event-title">{{event.name}}</span>
      <br>
      <span>{{event.location.name}}, {{event.location.address}}, {{event.location.city}}, {{event.location.state}}</span>
      <br>
      <br>
      <span>{{event.description}}</span>
    </div>
  </div>
</mat-card>


